<a href="https://colab.research.google.com/github/anandsavio/anandsavio/blob/main/CDS_10042022_calsswork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functional programming

## a) Map

In [ ]:
def square(n:int):
    return (n*n)

In [ ]:
list(map(square,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [ ]:
def numtodigits(n):
    print(list(map(int,str(n))))

In [ ]:
numtodigits(2345)

[2, 3, 4, 5]

# b) Filter

In [ ]:
def select(n):
    return n % 3 == 0 or n % 5 == 0

In [ ]:
sum(list(filter(select, range(1,100)))) #Euler problem 1 in a single line

2318

# c) List comprehension##

$S' = {\phi(x)~where~xϵS~and~π(x)~is~True}$

In [ ]:
def lcdigits(n):
    return [int(ch) for ch in str(n)]

In [ ]:
lcdigits(1234)

[1, 2, 3, 4]

In [ ]:
def even(n:int) ->bool:
    return n % 2 ==0

In [ ]:
def evendigits(num:int) ->[int]:
    return [d for d in lcdigits(num) if even(d)]

In [ ]:
evendigits(123456789)

[2, 4, 6, 8]

In [ ]:
def euler1_002(g:int) ->int:
    return sum([d for d in range(1,g) if select(d)]) #Euler 1 using list comprehension

In [ ]:
euler1_002(100)

2318

In [ ]:
# Fizz Buzz
def fb_1(n:int) ->[str]:
    if n % 15 == 0:
        return ("FizzBuzz")
    if n % 5 == 0:
        return ("Buzz")
    if n % 3 == 0:
        return ("Fizz")
    else:
        return (str(n))

In [ ]:
def fizbuz_01(n:int) -> [str]:
    return ([fb_1(x) for x in range(1,n+1)])

In [ ]:
fizbuz_01(45)

Lambda functions

In [ ]:
list(filter(lambda n: n % 3 == 0 or n % 5 == 0, range(1,11)))

[3, 5, 6, 9, 10]

Euler problem 2

In [ ]:
def fibonacci(n:int) ->[int]:
    fibs =[1,2]
    i = 1
    while i < n:
        i = sum(fibs[len(fibs)-2:])
        if i < n:
            fibs.append(i)
    return fibs

In [ ]:
fibonacci(10)

[1, 2, 3, 5, 8]

In [ ]:
def euler2_lc(n:int) ->int:
    return (sum([d for d in fibonacci(n) if even(d)]))

In [ ]:
euler2_lc(4*10**6)

4613732

# Euler Problem 4

A palindromic number reads the same both ways. The largest palindrome made
from the product of two 2-digit numbers is 9009 = 91 * 99.
Find the largest palindrome made from the product of two 3-digit numbers.

In [ ]:
def palindrome(n:int) ->bool:
    s = str(n)
    return s == s[::-1]

In [ ]:
palindrome(123)

False

In [ ]:
palindrome(9009)

True

In [ ]:
def euler4(n1,n2) ->int:
    return max([(a*b,a,b) for a in range(n1,n2) for b in range(n1,n2) if palindrome(a*b)])

In [ ]:
euler4(100,1000)

(906609, 993, 913)

Euler Problem 8

The four adjacent digits in the 1000-digit number that have the greatest product
are 9 * 9 * 8 * 9 = 5832.

73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450

Find the thirteen adjacent digits in the 1000-digit number that have the
greatest product. What is the value of this product?

In [ ]:
def str_prod(s:str) -> int:
    p=1
    for ch in str(s):
        p *= int(ch)
    return(p)

In [ ]:
str_prod(123)

6

In [ ]:
def make13s(s:str) ->[str]:
    s = s.replace("\n","").replace(" ","")
    return [s[i:i+13] for i in range(0,len(s)-13)]

In [ ]:
make13s('7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843 85861560789112949495459501737958331952853208805511 12540698747158523863050715693290963295227443043557 66896648950445244523161731856403098711121722383113 62229893423380308135336276614282806444486645238749 30358907296290491560440772390713810515859307960866 70172427121883998797908792274921901699720888093776 65727333001053367881220235421809751254540594752243 52584907711670556013604839586446706324415722155397 53697817977846174064955149290862569321978468622482 83972241375657056057490261407972968652414535100474 82166370484403199890008895243450658541227588666881 16427171479924442928230863465674813919123162824586 17866458359124566529476545682848912883142607690042 24219022671055626321111109370544217506941658960408 07198403850962455444362981230987879927244284909188 84580156166097919133875499200524063689912560717606 05886116467109405077541002256983155200055935729725 71636269561882670428252483600823257530420752963450')

In [ ]:
def euler8(s:str) ->str:
    return max([(str_prod(a),a) for a in make13s(s)])

In [ ]:
euler8('73167176531330624919225119674426574742355349194934 96983520312774506326239578318016984801869478851843 85861560789112949495459501737958331952853208805511 12540698747158523863050715693290963295227443043557 66896648950445244523161731856403098711121722383113 62229893423380308135336276614282806444486645238749 30358907296290491560440772390713810515859307960866 70172427121883998797908792274921901699720888093776 65727333001053367881220235421809751254540594752243 52584907711670556013604839586446706324415722155397 53697817977846174064955149290862569321978468622482 83972241375657056057490261407972968652414535100474 82166370484403199890008895243450658541227588666881 16427171479924442928230863465674813919123162824586 17866458359124566529476545682848912883142607690042 24219022671055626321111109370544217506941658960408 07198403850962455444362981230987879927244284909188 84580156166097919133875499200524063689912560717606 05886116467109405077541002256983155200055935729725 71636269561882670428252483600823257530420752963450')

(23514624000, '5576689664895')

# Reduce

In [ ]:
from functools import reduce

list1 = [1,4,7,3,10,76,14,17]

def add(num1,num2) :
    return num1 + num2

reduce(add, list1)

132

In [ ]:
from functools import reduce

In [ ]:
def digits2num(ds:[int]) ->int:
    return reduce(lambda x,y: x*10+y,ds)

In [ ]:
digits2num([1,2,3,4,5,6])

123456

In [ ]:
def str_prod2(s:str) ->int:
    return reduce(lambda x,y:int(x)*int(y),s)

In [ ]:
str_prod2("12345")

120

In [ ]:
def euler8_01(s:str) ->str:
    return max([(str_prod2(x),x) for x in make13s(s)])

In [ ]:
euler8_01("73167176531330624919225119674426574742355349194934 96983520312774506326239578318016984801869478851843 85861560789112949495459501737958331952853208805511 12540698747158523863050715693290963295227443043557 66896648950445244523161731856403098711121722383113 62229893423380308135336276614282806444486645238749 30358907296290491560440772390713810515859307960866 70172427121883998797908792274921901699720888093776 65727333001053367881220235421809751254540594752243 52584907711670556013604839586446706324415722155397 53697817977846174064955149290862569321978468622482 83972241375657056057490261407972968652414535100474 82166370484403199890008895243450658541227588666881 16427171479924442928230863465674813919123162824586 17866458359124566529476545682848912883142607690042 24219022671055626321111109370544217506941658960408 07198403850962455444362981230987879927244284909188 84580156166097919133875499200524063689912560717606 05886116467109405077541002256983155200055935729725 71636269561882670428252483600823257530420752963450")

(23514624000, '5576689664895')

In [ ]:
s = [2,3,4,5]
t = ['a','b','c','f']
f = ['oo','ff']

list(zip(s,t,f))

[(2, 'a', 'oo'), (3, 'b', 'ff')]

# Recursion

In [ ]:
#1 
def last_digit(n:int) ->int:
    return n % 10

def is_ascending(n:int) ->int:
    if n<10:
        return True
    if last_digit(n) <= last_digit(n//10):
        return False
    return (is_ascending(n//10))

In [ ]:
print(is_ascending(123))

True

In [ ]:
def num_o_digits(n:int) ->int:
    if n < 10:
        return 1
    return 1+num_o_digits(n//10)

In [ ]:
num_o_digits(2345)

4

In [ ]:
# see if you are able to understand the recursion done at the last line.
def my_len(n):
    if not n:
        return 0
    return 1 + my_len(n[1:])

In [ ]:
my_len("cole slaw")

9

Vowel count problem

In [ ]:
def is_vowel(l:str)->bool:
    return l in "aeiouAEIOU"

In [ ]:
def vowel_counter(line:str)->int:
    cnt = 0
    return len([ch for ch in line if is_vowel(ch)])

In [ ]:
vowel_counter("You will never walk alone")

9

Arabic to Roman

Roman to Arabic

Figures to words

3.1 Indian

3.2 Western

1675 ->

"One thousand Six hundred and seventy five"
786456 ->

"Seven lakhs eighty six thousand four hundred and fifty six"

"Seven hundred and eighty six thousand four hundred and fifty six"
Assume < 100 crore for Indian and < 1 Trillion for Western

Odometer

Reading cannot have 0 as a digit
readings should have digits in strictly ascending order only
for 3-digit odometer, smallest reading is 123, 789 is the largest 167 -> 168 -> 169 -> 178 -> 179 -> 189 -> 234

2467 -> 2468 -> 2469 -> 2478 -> 2479 -> 2489 -> 2567

Minimum functionality

next reading

previous reading

next nth reading

previous nth reading

distance between two readings

Euler Problem 21

Let d(n) be defined as the sum of proper divisors of n (numbers less than n
which divide evenly into n). If d(a) = b and d(b) = a, where a 6= b, then a and
b are an amicable pair and each of a and b are called amicable numbers.

For example, the proper divisors of 220 are 1, 2, 4, 5, 10, 11, 20, 22, 44, 55
and 110; therefore d(220) = 284. The proper divisors of 284 are 1, 2, 4, 71 and
142; so d(284) = 220.

Evaluate the sum of all the amicable numbers under 10000.

# Odometer

collection of n numbers from set N such that n1 less than n2 less than n3

Find: 

1) next reading

2) previous reading

3) next nth reading

4) previous nth reading

5) distance between two readings

In [ ]:
def no_zero(x):
    return "0" not in str(x)

def ascend_check(s):
    if len(s) == 1:
        return True
    elif len(s) == 2 and int(s[-1]) <= int(s[-2]):
        return False
    elif len(s) > 2:
        if int(s[-1]) > int(s[-2]):
            return ascend_check(str(int(s) // 10))
        return False
    return True

In [ ]:
def combinator(n:int) ->[str]:
    m = n-1
    return [str(x) for x in range(10**m,10**n) if no_zero(x) and ascend_check(str(x))]

In [ ]:
len(combinator(4))

126

In [ ]:
# Next nth reading: next_odo(no:of odo digits,"reading",next n)
# enter -ve value for n if previous nth reading is required
def next_odo(m:str,n:int) -> str:
    k = len(m)
    if combinator(k).index(m)+n < len(combinator(k)):
        return combinator(k)[combinator(k).index(m)+n]
    return combinator(k)[combinator(k).index(m)+n - len(combinator(n))]

#Distance between 2 readings: dist_odo(no:of odo digits,reading1,reading2)
def dist_odo(m:str,n:str) ->int:
    k = len(m)
    if m < n:
        return combinator(k).index(n) - combinator(k).index(m)
    return len(combinator(k)) - combinator(k).index(m) + combinator(k).index(n)

In [ ]:
next_odo("6789",5)

'1238'

In [ ]:
next_odo("1238",-11)

'4689'

In [ ]:
dist_odo("6789","1237")

4

# Figures to words

Figures to words

1. Indian

1. Western

1675 -> "One thousand Six hundred and seventy five" 
786456 -> "Seven lakhs eighty six thousand four hundred and fifty six"
        "Seven hundred and eighty six thousand four hundred and fifty six" 

Assume < 100 crore for Indian and < 1 Trillion for Western

In [18]:
word_dict = {
     "1" : ["One", "One"],
     "2" : ["Two", "Twenty"],
     "3" : ["Three", "Thirty"],
     "4" : ["Four", "Forty"],
     "5" : ["Five", "Fifty"],
     "6" : ["Six", "Sixty"],
     "7" : ["Seven", "Seventy"],
     "8" : ["Eight", "Eighty"],
     "9" : ["Nine", "Ninety"],
     "10" : ["Ten"],
     "11" : ["Eleven"],
     "12" : ["Twelve"],
     "13" : ["Thirteen"],
     "14" : ["Fourteen"],
     "15" : ["Fifteen"],
     "!6" : ["Sixteen"],
     "17" : ["Seventeen"],
     "18" : ["Eighteen"],
     "19" : ["Nineteen"]
    }
    

place_dict1 = {
    -3 : "Hundred",
    -4 : "Thousand",
    -5 : "Thousand",
    -6 : "Lakhs",
    -7 : "Lakhs",
    -8 : "Crore",
    -9 : "Crore",
}

place_dict2 = {
    -3 : "Hundred",
    -4 : "Thousand",
    -5 : "Thousand",
    -6 : "Thousand",
    -7 : "Million",
    -8 : "Million",
    -9 : "Million",
    -10 : "Billion",
    -11 : "Billion",
    -12 : "Billion",
    -13 : "Trillion",
}

In [ ]:
word_dict["5"] , place_dict1[-3]

(['Five', 'fifty'], 'Hundred')

In [2]:
def num2word(s:str) ->str:
    if int(s) > 999999999:
        return ("You'll walk alone!")
    if len(s) == 1:
        return (word_dict[s][0])
    if len(s) == 2:
        if s in word_dict:
            return "".join(word_dict[s])
        if s[-1] == "0":
            return word_dict[s[-2]][1]
        return word_dict[s[-2]][1] + " " + word_dict[s[-1]][0]
    k = int(len(s))
    if k % 2 == 0 and int(s) % 10**(k-1) == 0:
        return word_dict[s[0]][0] + " " + place_dict1[-int(len(s))]
    if k % 2 != 0 and int(s) % 10**(k-2) == 0:
        return num2word(s[:2]) + " " + place_dict1[-int(len(s))]
    if k == 3:
        return num2word(s[0]) + " " + place_dict1[-int(len(s))] + " and " + num2word(str(int(s) % 10**(k-1)))
    if k % 2 == 0:
        return num2word(s[0]) + " " + place_dict1[-int(len(s))] + " " + num2word(str(int(s) % 10**(k-1)))
    return num2word(s[:2]) + " " + place_dict1[-int(len(s))] + " " + num2word(str(int(s) % 10**(k-2)))

In [ ]:
num2word("987654321")

'Ninety Eight Crore Seventy Six Lakhs Fifty Four Thousand Three Hundred and Twenty One'

In [ ]:
num2word("200000001"), len("200000000")

('Twenty Crore One', 9)

In [16]:
def num2usword(s:str) ->str:
    if int(s) > 999999999999:
        return ("Trillionaire!")
    if len(s) == 1:
        return (word_dict[s][0])
    if len(s) == 2:
        if s in word_dict:
            return "".join(word_dict[s])
        if s[-1] == "0":
            return word_dict[s[-2]][1]
        return word_dict[s[-2]][1] + " " + word_dict[s[-1]][0]
    k = int(len(s))
    if k == 3:
        if int(s) % 100 == 0:
            return num2usword(s[0]) + " " + place_dict2[-int(k)]
        return num2word(s[0]) + " " + place_dict2[-int(k)] + " and " + num2usword(str(int(s) % 10**(k-1)))
    if k in [4,7,10]:
        if int(s) % 10**(k-1) == 0:
            return num2usword(s[0]) + " " + place_dict2[-int(k)]
        return num2usword(s[0]) + " " + place_dict2[-int(k)] + " " + num2usword(str(int(s) % 10**(k-1)))
    if k in [5,8,11]:
        if int(s) % 10**(k-2) == 0:
            return num2usword(s[:2]) + " " + place_dict2[-int(k)]
        return num2usword(s[:2]) + " " + place_dict2[-int(k)] + " " + num2usword(str(int(s) % 10**(k-2)))
    if k in [6,9,12]:
        if int(s) % 10**(k-3) == 0:
            return num2usword(s[:3]) + " " + place_dict2[-int(k)]
        return num2usword(s[:3]) + " " + place_dict2[-int(k)] + " " + num2usword(str(int(s) % 10**(k-3)))

In [26]:
num2usword("2222222222222")

'Trillionaire!'